<h1>Register</h1>

<%= form_for @user, html: {class: "coolio"} do |f| %>
  <%=  f.label :email, html:{class: "coolio"} %>
  <%= f.text_field :email%>
  <%=  f.label :password %>
  <%= f.password_field :password %>
  <%=  f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>
<%= f.submit %>
<% end %>
